<div class="mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/admin/country']" routerLinkActive="router-link-active">Country</a></li>
          <li *ngIf="addmode" class="breadcrumb-item active" aria-current="page">ADD</li>
          <li *ngIf="editmode" class="breadcrumb-item active" aria-current="page">EDIT</li>
        </ol>
    </nav>
  </div>
  
  <div class="mt-1 d-flex justify-content-end">
    <button type="button" class="btn btn-dark btn-sm mr-1" data-toggle="modal" data-target="#addCountry">New</button>
    <button type="button" class="btn btn-info btn-sm mr-1" (click)="editCountry()">Edit</button>
    <button type="button" class="btn btn-danger btn-sm mr-1" (click)="Validate()">Delete</button>
  </div>
  
  <div>
    <h3>Country List</h3>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Generated Code</th>
        <th scope="col">State Name</th>
        <th scope="col">Delete Status</th>
        <th scope="col">Edit</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>

  <div class="modal fade" id="addCountry" tabindex="-1" aria-labelledby="addCountryLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCountryLabel">New Country Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="mt-1">
                <form [formGroup]="CountryForm">
                  <div class="form-group col-12">
                    <label>Country</label>
                    <select formControlName="country_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value="">Select Country</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button *ngIf="addmode" type="button" class="btn btn-success btn-sm mr-1" (click)="addCountry()" data-dismiss="modal">Add</button>
                <button *ngIf="editmode" type="button" class="btn btn-success btn-sm mr-1" (click)="updateCountry()" data-dismiss="modal">Update</button>
                <button class="btn btn-warning btn-sm" (click)="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deleteCountry" tabindex="-1" aria-labelledby="deleteCountryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCountryLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Country ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" (click)="deleteCountry()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
