<div class="mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/admin/country']" routerLinkActive="router-link-active">Country</a></li>
          <li *ngIf="addmode" class="breadcrumb-item active" aria-current="page">ADD</li>
          <li *ngIf="editmode" class="breadcrumb-item active" aria-current="page">EDIT</li>
        </ol>
    </nav>
  </div>
  
  <div class="mt-1 d-flex justify-content-end">
    <button type="button" class="btn btn-dark btn-sm mr-1" data-toggle="modal" data-target="#addCountry"><i class="fas fa-plus"></i>New</button>
    <button type="button" class="btn btn-info btn-sm mr-1" (click)="editCountry()"><i class="far fa-edit"></i> Edit</button>
    <button type="button" class="btn btn-danger btn-sm mr-1" (click)="Validate()"><i class="far fa-trash-alt"></i>Delete</button>
  </div>
  
 
  
<div class="card">
  <div style="padding: 10px;">
    <div>
      <h3>Country List</h3>
    </div>
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Country Name</th>
          <th scope="col">Generated Code</th>
          <th scope="col">Delete Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Canada</td>
          <td>20196</td>
          <td>Null</td>
          <td>Yes</td>
        </tr>
  
      </tbody>
    </table>
  </div>
</div>

  <div class="modal fade" id="addCountry" tabindex="-1" aria-labelledby="addCountryLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCountryLabel">New Country Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="CountryForm">
        <div class="form-group col-12">
          <label>Country</label>
          <input type="text" class="form-control" placeholder="Enter Subscription Plans Name" formControlName="country_name">
          <div *ngIf="CountryForm.controls['country_name'].touched && CountryForm.controls['country_name'].invalid" class="text-danger">
            <div *ngIf="CountryForm.controls['country_name'].errors && CountryForm.controls['country_name'].errors.required"> 
              Country Name is required.
            </div>
          </div>
      </div>
        </form>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button *ngIf="addmode" type="button" class="btn btn-success btn-sm mr-1" (click)="addCountry()">Add</button>
                <button *ngIf="editmode" type="button" class="btn btn-success btn-sm mr-1" (click)="updateCountry()" data-dismiss="modal">Update</button>
                <button class="btn btn-warning btn-sm" (click)="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deleteCountry" tabindex="-1" aria-labelledby="deleteCountryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCountryLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Country ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" (click)="deleteCountry()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
